* {
	margin: 0px;
	padding: 0px;
	color: rgb(256,256,256);
	background: #202020;
}

#sidebar{
	position: fixed;
	float: left;
	width: 20%;
	height: 100%;
}

#sidebar div{
	font-size: 200%;
	padding-left: 20%;
	padding-top: 5%;
	padding-right: ; 
	padding-bottom: 5%;
	/**border-bottom: 2px solid gray;**/
}
#sidebar ul li {
	font-size: 160%;
	padding-left: 30%;
	padding-right: 20%;
	padding-top: 5%;
	padding-bottom: 5%;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
}

#sidebar ul li:hover{
	background: #383838;
}

.notes {

}

.trash {

}

#content{
	position:relative;
	float: left;
	margin-left: 25%;
	width: 75%;
}


#top-bar {
	width : auto;
	display: block;
	height: %;
	font-size: 2em;
	padding: 2%;
	/*background: red;*/
}

.logout-icon {
	float: right;
}

#notes {
	display: block;
}



#note {
	border: 1px solid gray;
	padding: 5px;
	border-radius: 15px;
	margin: 5%;
	resize: none;
	width: 200px;
	min-height: 100px;
	overflow: hidden;
	box-sizing: border-box;
}

#note-title {
	padding: 5px;
	border: none;
	border-bottom: 1px solid gray;
}

#note-title:focus {
	outline: none;
}

#note-text{
	border: none;
	size: none;
	width: auto;
	margin-top: 4px;
	padding: 5px;
	overflow: hidden;
	box-sizing: border-box;
}

textarea { 
  /* box-sizing: padding-box; */
  overflow:hidden;
  /* demo only: */
  padding:10px;
  width:250px;
  font-size:14px;
  display:block;

}

#note-text:focus {
	outline: none;
}

#note button{
	border: none;
}

#trash {
	display: none;
}

i {
  	position: relative;
  	display: inline-block;
  	border-bottom: 1px dotted black;
}

i .tooltiptext {
  	visibility: hidden;
  	width: 120px;
  	background-color: black;
  	color: #fff;
  	text-align: center;
  	border-radius: 6px;
  	padding: 5px 0;
  	position: absolute;
  	z-index: 1;
  	top: -5px;
  	left: 110%;
}

i .tooltiptext::after {
  	content: "";
  	position: absolute;
  	top: 50%;
  	right: 100%;
  	margin-top: -5px;
  	border-width: 5px;
  	border-style: solid;
  	border-color: transparent black transparent transparent;
}
i:hover .tooltiptext {
  	visibility: visible;
}

a {
	text-decoration: none;
}
