<html>

<head>
	<script
         src="https://code.jquery.com/jquery-3.4.1.js"
           integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
             crossorigin="anonymous">
	</script>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='index_style.css') }}" />	
</head>

<body>
	<b>
	<div id='header'>
		
	</div>
	</b>
	<div class='login-page'> 
		<div class='form'>
			<form class='register-form' action='http://localhost:5000/registration', method='POST'>
				<input type='text' name='user_name' placeholder='Username' required/>
				<input type='text' name='first_name' placeholder='First Name' required/>
				<input type='text' name='last_name' placeholder='Last Name' required/>
				<input type='password' name='password' placeholder='Password' required/>
				<button>Register</button>
				<p class='message'>Already registered? <a href='#'>Login</a></p>
			</form>
			<form class='login-form' action='http://localhost:5000/login', method='POST'>
				<input type='text' name='user_name' placeholder='Username' required />
				<input type='password' name='password' placeholder='Password' required/>
				<button>Login</button>
				<p class='message'>Not registered? <a href='#'>Register</a></p>
			</form>
		</div>
	</div>
	
	<script>
		$('.message a').click(function(){
			$('form').animate({height:"toggle", opacity: "toggle"},"slow");
		});
	</script>

	{% block javascript %}
	<script>
		$(document).ready(function(){
		{% if msg_code == 2%}
			alert('Username already taken. Please try different one');
		{% elif msg_code == 1 %}
			alert('Signup successfull !! Please try logging in.');
		{% elif msg_code == 3 %}
			alert('Incorrect username or password.');
		{% elif msg_code == 4 %}
			alert('You have been logged out.');

		{% endif %}
		});
	</script>
	{% endblock %}

	<script>
		var i = 0;
		var txt = 'Welcome to NoteMaker..'; /* The text */
		var speed = 50; 
		$(document).ready(function typeWriter() {
 			if (i < txt.length) {
    			document.getElementById("header").innerHTML += txt.charAt(i);
		    	i++;
			    setTimeout(typeWriter, speed);
  			}
		});
	</script>
</body>

</html>
