<html>

<head>
	<script
	  src="https://code.jquery.com/jquery-3.4.1.js"
	    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
		  crossorigin="anonymous">
	</script>
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
	<script src='{{ url_for("static",filename="scripts.js") }}'></script>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='primary.css') }}" />	
</head>

<body>

	<div id="sidebar">
		<div>
			<b>Notes.com</b>
		</div>
		<ul class="ulist">
			<li class="notes">
				<i class="far fa-sticky-note"></i>
				Notes
			</li>
			<li class="trash">
				<i class="far fa-trash-alt"></i>
				Trash
			</li>
		</ul>
	</div>
	<div id="content">
		<div id="top-bar">
			Hi {{user_info[1]}}..
			<i class="far fa-user usr-tile"></i>
		</div>
		<div id="notes">
			<!-- 
				Create boxes for the notes, These boxes have to be generated
				at runtime.Lets create one first, statically.
			-->
			<div id='note'>
				<input id='note-title' type='text' placeholder='Title'><br>
				<textarea id='note-text' placeholder='Take a note'></textarea>
				<i class="far fa-save"></i>
				<i class="far fa-trash-alt"></i>
			</div>
			<div id='note'>
				<input id='note-title' type='text' placeholder='Title'><br>
				<textarea id='note-text' placeholder='Take a note'></textarea>
				<i class="far fa-save"></i>
				<i class="far fa-trash-alt"></i>
			</div>
			<div id='note'>
				<input id='note-title' type='text' placeholder='Title'><br>
				<textarea id='note-text' placeholder='Take a note'></textarea>
				<i class="far fa-save"></i>
				<i class="far fa-trash-alt"></i>
			</div>

		</div>
		<div id='trash'>
			<div id='note'>
				<input id='note-title' type='text' placeholder='Title'><br>
				<textarea id='note-text' placeholder='Take a note'></textarea>
				<i class="far fa-save"></i>
				<i class="fas fa-trash-restore"></i>
			</div>
			<div id='note'>
				<input id='note-title' type='text' placeholder='Title'><br>
				<textarea id='note-text' placeholder='Take a note'></textarea>
				<i class="far fa-save"></i>
				<i class="fas fa-trash-restore"></i>
			</div>
		</div>
	</div>

</body>
</html>
