<html>

<head>
	<script
	  src="https://code.jquery.com/jquery-3.4.1.js"
	    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
		  crossorigin="anonymous">
	</script>
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
	<script src='{{ url_for("static",filename="scripts.js") }}'></script>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='primary.css') }}" />	
</head>

<body>

	<div id="sidebar">
		<div>
			<b>NoteMaker</b>
		</div>
		<ul class="ulist">
			<li class="notes">
				<i class="far fa-sticky-note"></i>
				<span>Notes</span>
			</li>
			<li class="trash">
				<i class="far fa-trash-alt"></i>
				<span>Trash</span>
			</li>
		</ul>
	</div>
	<div id="content">
		<div id="top-bar">
			Hi {{g.user}}..
			<a href = '{{ url_for("logout") }}'>
			<i class="fas fa-sign-out-alt logout-icon"></i>
			</a>
		</div>
		<div id="notes">
			<!-- 
				Create boxes for the notes, These boxes have to be generated
				at runtime.Lets create one first, statically.
			-->

			<div id='note'>
				<form action='{{ url_for("note_create") }}', method='POST'>
					<input id='note-title' name='note_title' type='text' placeholder='Title' required><br>
					<textarea id='note-text' name='note_text' placeholder='Take a note' required></textarea>
					<button>
						<i class="fas fa-save"><span class="tooltiptext">Save</span></i>
					</button>
					<button formaction='{{ url_for("note_discard") }}'>
						<i class="fas fa-trash-alt"><span class="tooltiptext">Discard</span></i>
					</button>
				</form>
			</div>
			{% for i in range(notes_data|length) %}
				{% if notes_data[i][4] == 0 %}
				<div id='note'>
					<form action='{{ url_for("note_save") }}' method='POST'>
						<input type='hidden' name='Id' value='{{ notes_data[i][0] }}'/>
						<label id='note-title' type='text' placeholder='Title'>{{ notes_data[i][1] }}</label><br>
						<textarea id='note-text' placeholder='Take a note' name='note_text'>{{ notes_data[i][2]}}</textarea>
						<button>	
							<i class="fas fa-save"><span class="tooltiptext">Save</span></i>
						</button>
						<button formaction='{{ url_for("note_delete") }}'>
							<i class="fas fa-trash-alt"><span class="tooltiptext">Delete</span></i>
						</button>
					</form>
				</div>
				{% endif %}
			{% endfor %}
			
		</div>
		<div id='trash'>
			{% for i in range(notes_data|length) %}
				{% if notes_data[i][4] == 1 %}
				<div id='note'>
					<form action='{{ url_for("trash_restore") }}' method='POST'>
						<input type='hidden' name='Id' value='{{ notes_data[i][0] }}' />
						<label id='note-title' type='text' placeholder='Title'>{{ notes_data[i][1] }}</label><br>
						<textarea id='note-text' placeholder='Take a note' readonly>{{ notes_data[i][2] }}</textarea>
						<button>
							<i class="fas fa-trash-restore"><span class="tooltiptext">Restore</span></i>
						</button>
						<button formaction='{{ url_for("trash_delete") }}'>
						<i class="fas fa-trash-alt"><span class="tooltiptext">Delete</span></i>
						</button>
					</form>
				</div>
				{% endif %}
			{% endfor %}
		</div>
	</div>

</body>
</html>
